@page
@model WareHouse_and_Inventory.Pages.Warehouses.IndexModel
@{
}
<br >
<h2> List of Warehouses </h2>
<a class=" btn btn-primary btn-sm" href="/Warehouses/Create"> New Warehouse </a>
<table class="table">

    <thead>
        <tr>
            <th>ID</th>
            <th> WareHouse Name</th>


            
            
            


        </tr>   
   
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>KARGO</td>
      
            <td>
                   <a class=" btn btn-primary btn-sm" href ="/Warehouses/Edit ?id= id "> Edit </a>
                <a class=" btn btn-danger btn-sm" href="/Warehouses/Delete ?id= id "> Delete </a>
                <a class=" btn btn-dark btn-sm" href="/Warehouses/Insert ?id= id "> Insert </a>
                
            </td>
        
        
        

            <tr>
               <td>2</td>
               <td>DHL</td>
             
                              
             
                <td>
                    <a class=" btn btn-primary btn-sm" href ="/Warehouses/Edit ?id= id "> Edit </a>
                <a class=" btn btn-danger btn-sm" href="/Warehouses/Delete ?id= id "> Delete </a>
                <a class=" btn btn-dark btn-sm" href="/Warehouses/Insert ?id= id "> Insert </a>
                    

                 
                    
                </td>
                </tr>
                


        

    </tbody>
    </table>
